@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap");

.health-container {
  background-color: #225db0;
  color: #ffffff;
  text-align: left;
  width: 30%;
  padding: 1rem;
  font-family: "Roboto";
  position: absolute;
  top: 7%;
  left: 34%;
}

.image {
  height: 40vh;
  width: 20%;
}

.list {
  padding-top: 2rem;
}

h2 {
  margin-bottom: 1rem;
}

li {
  margin-bottom: 1rem;
}

.btn-container {
  background-color: #225db0;
  color: #ffffff;
  border-color: #ffffff;
  text-align: center;
  border-radius: 10px;
}

#backBtn {
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
