@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap");

.page {
  background-color: #225db0;
  color: #ffffff;
  text-align: center;
  width: 34%;
  padding: 1rem;
  position: fixed;
  left: 35%;
  top: 13%;
  height: 70vh;
  font-family: "Roboto";
}

a {
  text-decoration: none;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 40%);
  grid-template-rows: repeat(2, 20%);
  gap: 1rem 0rem;
  height: 100vh;
  width: 150%;
  padding-top: 3rem;
  align-items: center;
}

.topic {
  background-color: #ffffff;
  border-radius: 1rem;
  color: #1f2933;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  padding-top: 1rem;
  align-items: center;
}

.icon {
  background-color: #ffffff;
  width: 20%;
}
