@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Bree Serif";
}

.bg-container {
  background-color: #222222;
  width: 40%;
  padding: 6px;
  position: fixed;
  left: 31%;
  top: 3%;
}

.flat2 {
  height: 30vh;
  width: 100%;
}

p,
.p1 {
  color: #ffffff;
}

.head1,
.head2 {
  color: #f19116;
}

.icon {
  display: flex;
}

.bottom-container {
  padding-left: 1rem;
}

.icn {
  width: 4%;
  height: 8%;
  margin-top: 2rem;
}

.btn-container {
  text-align: center;
}

#btn-1,
#btn-2,
button {
  height: 2.5rem;
  width: 100px;
  border-radius: 0.5rem;
  background-color: #f19116;
  color: #ffffff;
  margin-top: 1rem;
  margin-left: 5px;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}
