<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FOODMUNCH APP</title>
    <link rel="stylesheet" href="/static/home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div id="headSection">
      <nav class="navbar navbar-expand-lg bg-light fixed-top">
        <div class="container-fluid">
          <a href="#">
            <img
              src="/static/Images/food-munch-img-logo.png"
              alt=""
              id="foodMunchLogo"
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#whyChooseUsSection">Why Choose Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#exploreMenuSection">Explore Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#deliveryPaymentSection"
                  >Delivery Payment</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#followUsSection">Follow Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div id="bannerSection">
      <h1 id="bannerHead">Get Delicious Food</h1>
      <p id="bannerPara">Eat Smart & Healthy</p>
      <div id="bannerBtnContainer">
        <button id="viewMenuBtn">View Menu</button>
        <button id="orderNowBtn">Order Now</button>
      </div>
    </div>
    <div id="whyChooseUs">
      <div id="whyChooseUsSection">
        <h1 id="whyChooseUsSectionHead">Why Choose Us?</h1>
        <p id="whyChooseUsSectionPara">
          We use both original recipes and classic versions of famous food
          items.
        </p>
        <div id="whyChooseUsSectionDivContainer">
          <div id="whyChooseUsSectionDiv1">
            <img src="/static/Images/food-serve.png" alt="" />
            <h1 id="whyChooseUsSectionDiv1Head1">Food Service</h1>
            <p id="whyChooseUsSectionDiv1Para1">
              Experience fine dining at the comfort of your home. All our orders
              are carefully packed and arranged to give you the nothing less
              than perfect.
            </p>
          </div>
          <div id="whyChooseUsSectionDiv2">
            <img src="/static/Images/fruits-img.png" alt="" />
            <h1 id="whyChooseUsSectionDiv2Head2">Fresh Food</h1>
            <p id="whyChooseUsSectionDiv2Para2">
              The Fresh Food group provides fresh-cut fruits and vegetables
              directly picked from our partner farms and farm houses so that you
              always get them tree to plate.
            </p>
          </div>
          <div id="whyChooseUsSectionDiv3">
            <img src="/static/Images/offers-img.png" alt="" />
            <h1 id="whyChooseUsSectionDiv3Head3">Best Offers</h1>
            <p id="whyChooseUsSectionDiv3Para3">
              Food Coupons & Offers upto 50% OFF and Exclusive Promo Codes on
              All Online Food Orders..
            </p>
          </div>
        </div>
      </div>
    </div>
    <div id="exploreMenuSection">
      <h1 id="exploreMenuHead">Explore Menu</h1>
      <div id="exploreMenuDivContainer">
        <div id="exploreMenuDivContainer1" class="menuDiv1 menuDivContainer">
          <img
            src="/static/Images/em-ginger-fried-img.png"
            alt="Non-Veg Starters"
            class="image img1"
          />
          <p class="exploreMenuDivContainer1Para1 para1">Non-Veg Starters</p>
          <p class="exploreMenuDivContainer1Para2 para2">View All &rarr;</p>
        </div>
        <div id="exploreMenuDivContainer2 " class="menuDiv2 menuDivContainer">
          <img
            src="/static/Images/em-veg-starters-img.png"
            alt="Veg Starters"
            class="image img2"
          />
          <p class="exploreMenuDivContainer2Para1 para1">Non-Veg Starters</p>
          <p class="exploreMenuDivContainer2Para2 para2">View All &rarr;</p>
        </div>
        <div id="exploreMenuDivContainer3" class="menuDiv3 menuDivContainer">
          <img
            src="/static/Images/em-soup-img.png"
            alt="Non-Veg Starters"
            class="image img3"
          />
          <p class="exploreMenuDivContainer3Para1 para1">Soups</p>
          <p class="exploreMenuDivContainer3Para2 para2">View All &rarr;</p>
        </div>
        <div id="exploreMenuDivContainer4" class="menuDiv4 menuDivContainer">
          <img
            src="/static/Images/em-grilled-seafood-img.png"
            alt="Veg Starters"
            class="image img4"
          />
          <p class="exploreMenuDivContainer4Para1 para1">Fish & Sea food</p>
          <p class="exploreMenuDivContainer4Para2 para2">View All &rarr;</p>
        </div>
        <div id="exploreMenuDivContainer5" class="menuDiv5 menuDivContainer">
          <img
            src="/static/Images/em-hyderabadi-biryani-img.png"
            alt="Non-Veg Starters"
            class="image img5"
          />
          <p class="exploreMenuDivContainer5Para1 para1">Main Course</p>
          <p class="exploreMenuDivContainer5Para2 para2">View All &rarr;</p>
        </div>
        <div id="exploreMenuDivContainer6" class="menuDiv6 menuDivContainer">
          <img
            src="/static/Images/em-mushroom-noodles-img.png"
            alt="Veg Starters"
            class="image img6"
          />
          <p class="exploreMenuDivContainer6Para1 para1">Noodles</p>
          <p class="exploreMenuDivContainer6Para2 para2">View All &rarr;</p>
        </div>
        <div id="exploreMenuDivContainer7" class="menuDiv7 menuDivContainer">
          <img
            src="/static/Images/em-gluten-img.png"
            alt="Non-Veg Starters"
            class="image img7"
          />
          <p class="exploreMenuDivContainer7Para1 para1">Salads</p>
          <p class="exploreMenuDivContainer7Para2 para2">View All &rarr;</p>
        </div>
        <div id="exploreMenuDivContainer8" class="menuDiv8 menuDivContainer">
          <img
            src="/static/Images/em-coffee-bourbon-img.png"
            alt="Veg Starters"
            class="image img8"
          />
          <p class="exploreMenuDivContainer8Para1 para1">Desserts</p>
          <p class="exploreMenuDivContainer8Para2 para2">View All &rarr;</p>
        </div>
      </div>
    </div>
    <div id="fruitsSection">
      <div id="freshHealthySection">
        <img
          src="/static/Images/healthy-food-plate-img.png"
          alt=""
          id="freshHealthySectionImg"
        />
        <div id="freshHealthyContainer">
          <h1 id="freshHealthyContainerHead">Fresh,Healthy,Organic Fruits</h1>
          <p id="freshHealthyContainerPara">
            Say no to harmful chemicals and go fully organic with our range of
            fresh fruits and veggies. Pamper your body and your senses with the
            true and unadulterated gifts from mother nature. with the true and
            unadulterated gifts from mother nature.
          </p>
          <button id="freshHealthyContainerBtn">Watch Video</button>
        </div>
      </div>
    </div>
    <div id="deliveryPaymentSection">
      <div id="deliveryPaymentContainer">
        <h1 id="deliveryPaymentSectionHead">Delivery and Payment</h1>
        <p id="deliveryPaymentSectionPara">
          Enjoy hassle-free payment with the plenitude of payment options
          available for you. Get live tracking and locate your food on a live
          map. It's quite a sight to see your food arrive to your door. Plus,
          you get a 5% discount on every order every time you pay online.
        </p>
        <button id="deliveryPaymentSectionBtn">Order Now</button>
      </div>
      <img
        src="/static/Images/delivery-payment-section-img.png"
        alt=""
        id="deliveryPaymentSectionImg"
      />
    </div>
    <div id="cardSection">
      <img
        src="/static/Images/visa-card-img.png"
        alt=""
        class="cardsImage img1"
      />
      <img
        src="/static/Images/master-card-img.png"
        alt=""
        class="cardsImage img2"
      />
      <img
        src="/static/Images/paypal-card-img.png"
        alt=""
        class="cardsImage img2"
      />
      <img
        src="/static/Images/american-express-img.png"
        alt=""
        class="cardsImage img2"
      />
    </div>
    <div id="giftSection">
      <div id="giftLeftSection">
        <h1 id="giftHead">Thank you for being a valuable customer to us.</h1>
        <p id="giftPara">We have a surprise gift for you</p>
        <button id="giftBtn">Redeem Gift</button>
      </div>
      <div id="giftRightSection">
        <img
          src="/static/Images/thanking-customers-section-img.png"
          alt=""
          id="giftImage"
        />
      </div>
    </div>
    <h1 id="followUsSection">Follow Us</h1>
    <div id="iconSection">
      <i class="bi bi-twitter icon1"></i>
      <i class="bi bi-instagram icon2"></i>
      <i class="bi bi-facebook icon3"></i>
    </div>
    <div id="bottomSection">
      <img
        src="/static/Images/food-munch-img-logo.png"
        alt=""
        id="foodMunchLogo"
      />
      <p id="bottomSectionPara1">orderfood@foodmunch.com</p>
      <p id="bottomSectionPara2">123 Ayur Vigyan Nagar,New Delhi,India.</p>
    </div>
  </body>
</html>
